<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="logo">
            <h2>PP</h2>
        </div>

        <ul>

            <li><a href="/">Dashboard</a></li>

            <li><a href="/profile">Profile</a></li>

            <li><a href="/applications">Applications</a></li>

            <li><a href="/test">Tests</a></li>

        </ul>

    </div>


    <!-- MAIN CONTENT -->

    <div class="main-content">

        <h1 class="page-title">
            Student Profile
        </h1>

        <div class="box">

            <p><strong>Name :</strong> Akshaya J</p>

            <br>

            <p><strong>Department :</strong> Computer Science</p>

            <br>

            <p><strong>CGPA :</strong> 8.5</p>

            <br>

            <p><strong>Email :</strong> akshaya@gmail.com</p>

            <br>

            <p><strong>Phone :</strong> 9876543210</p>

        </div>

    </div>

</div>

</body>
</html>