{% extends 'base.html' %}

{% block title %}
Manage Companies
{% endblock %}

{% block content %}

<div class="page-card">

    <h1>Manage Companies</h1>

    <table class="company-table">

        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Package</th>
        </tr>

        <tr>
            <td>TCS</td>
            <td>Developer</td>
            <td>4.5 LPA</td>
        </tr>

        <tr>
            <td>Infosys</td>
            <td>System Engineer</td>
            <td>3.6 LPA</td>
        </tr>

    </table>

</div>

{% endblock %}