{% extends 'base.html' %}

{% block title %}Manage Companies{% endblock %}

{% block content %}

<div class="card">

    <h2>Manage Companies</h2>

    <table>

        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Package</th>
        </tr>

        <tr>
            <td>TCS</td>
            <td>Developer</td>
            <td>4.5 LPA</td>
        </tr>

        <tr>
            <td>Infosys</td>
            <td>System Engineer</td>
            <td>3.6 LPA</td>
        </tr>

        <tr>
            <td>Zoho</td>
            <td>Web Developer</td>
            <td>5.5 LPA</td>
        </tr>

    </table>

</div>

{% endblock %}