{% extends "base.html" %}

{% block title %}
Online Test
{% endblock %}

{% block content %}

<h1>Online Aptitude Test</h1>

<form action="/submit_test" method="POST">

    <h3>1. What is the capital of India?</h3>

    <input type="radio" name="q1" value="A"> Chennai <br>
    <input type="radio" name="q1" value="B"> Delhi <br>
    <input type="radio" name="q1" value="C"> Mumbai <br><br>

    <h3>2. Python is a?</h3>

    <input type="radio" name="q2" value="A"> Programming Language <br>
    <input type="radio" name="q2" value="B"> Operating System <br>
    <input type="radio" name="q2" value="C"> Database <br><br>

    <button type="submit">
        Submit Test
    </button>

</form>

{% endblock %}