:root{
    --bg-color:#071426;
    --card-color:#0d1b2a;
    --primary:#16c79a;
    --text:#ffffff;
    --border:#1e3a5f;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:var(--bg-color);
    color:var(--text);
}

.navbar{
    background:#08192d;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid var(--border);
}

.nav-links a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

.main-container{
    display:flex;
}

.sidebar{
    width:220px;
    background:#091a2f;
    height:100vh;
    padding:20px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:20px;
}

.content{
    flex:1;
    padding:30px;
}

.card{
    background:var(--card-color);
    padding:30px;
    border-radius:15px;
    border:1px solid var(--border);
}

form{
    display:flex;
    flex-direction:column;
}

input{
    margin-top:15px;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    margin-top:20px;
    padding:12px;
    background:var(--primary);
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th,td{
    border:1px solid #1e3a5f;
    padding:15px;
}

.notification{
    background:#10243f;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}